<div class="col-md-12">

    <div class="page-header">
        <h1>
            Counters <small> Some global stats</small>
        </h1>
    </div>
    <div id="counts"></div>

    <div class="page-header">
        <h1>Charts <small> about previous datas</small></h1>
    </div>
    <div class="row">
        <div class="col-md-6" id="charts"></div>
        <div class="col-md-6" id="charts2"></div>
    </div>
    <div class="row">
        <div class="col-md-6" id="charts3"></div>
        <div class="col-md-6" id="charts4"></div>
    </div>
    <div id="charts5"></div>

    <div id="topics"></div>
    <div id="topics-repartition"></div>

    <div class="page-header">
        <h1>
            Stats <small> Search a topic to get stats</small>
        </h1>
    </div>
    <div id="topic-stats"></div>
</div>