<div class="page-header">
    <h1>All decorated notifications</h1>
</div>

<table class="table table-bordered table-stripped table-hover" id="real-notifications-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Sent At</th>
            <th>Context</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>