<td>{{recipient.displayName}}</td>
<td>{{recipient.address}}</td>
<td>{{sentAt}}</td>
<td>
    Subject: {{rawNotification.context.subject}}<br>
    Content: {{rawNotification.context.content}}
</td>
<td>
    <button class="btn btn-primary">
        <icon class="glyphicon glyphicon-eye-open"></icon> Show details
    </button>
</td>