<td>{{recipient.displayName}}</td>
<td>{{recipient.email}}</td>
<td>{{sentAt}}</td>
<td>{{subject}}</td>
<td>
    <button class="btn btn-primary">
        <icon class="glyphicon glyphicon-eye-open"></icon> Show details
    </button>
</td>