<div class="col-xs-12">
    <div id="tab-title"></div>
    <div id="topics-for-selector"></div>
    <div id="counts-by-topic"></div>
    <div id="topics-repartition"></div>
    <div id="create-subscription-form"></div>
</div>