body {
    background: #fafafa;
    padding-top: 40px;
}

.affix {
    position: fixed;
    top: 80px;
    width: 270px;
}

.affix-bottom {
    position: absolute;
}

.left-menu {
    border: solid #eeeeee 1px;
}

#charts, #counts, #topics {
    min-height: 400px;
}